body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Spartan', sans-serif;
}

/* 
black: #001524
blue: #15616d
beige: #ffecd1
orange: #ff7d00
brown: #78290f

--- 

*/

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 0 2em;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  background: grey;
  top: 0;
  background-color: #001524;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo pre {
  /* font-family: monospace; */
  font-size: 2em;
  /* font-family: 'monofett' */
  font-family: 'Bungee hairline';
  font-weight: bold;
  color: white;
  color: #ff7d00;
}

nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 4em;
  margin-right: 1em;
}

nav span, nav pre {
  color: white;
  transition: 0.2s;
}

nav span:hover {
  color: #ff7d00;
}

.links span {
  margin-left: 2em;
  cursor: pointer;
}

header {
  background-color: #15616d;
  /* background-color: #78290f; */
  margin-top: 6em;
  display: flex;
  justify-content: center;
}

.demo-reel-container {
  height: calc(100vh - 6em);
  width: 100vw;
  max-width: calc((100vh - 6em) * 1.777);
  max-height: calc(100vw * .5625);
}

.demo-reel {
  width: 100%;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
}

.portfolio {
  background-color: #ffecd1;
}

section {
  padding: 2em;
}

section h3 {
  margin: 0;
  font-size: 1.5em;
}

.about-me-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-me-container img {
  width: 25%;
  min-width: 6em;
  height: auto;
  margin-top: 1em;
  margin-right: 2em;
}

.about-me-container p {
  text-align: left;
  text-indent: 25px;
  line-height: 150%;
}

.about-me-div {
  max-width: 50em;
}

.portfolio-div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 1.5em;
}

.video-container {
  background-color: #78290f;
  padding: 0 0 0.25em;
  box-sizing: border-box;
}

.video-container p {
  color: white;
}

.portfolio-vid {
  width: 100%;
  min-height: 15em;
}

.contact {
  background-color: #15616d;
}

.contact h3 {
  margin-bottom: 0.5em;
}

.contact h3, .contact a {
  color: white;
}

.contact a {
  font-size: 1.25em;
  transition: 0.2s;
  margin-top: 1em;
}

.contact a:hover {
  color: #ff7d00;
}

@media only screen and (max-width: 1000px) {
  .portfolio-div {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-div {
    grid-template-rows: repeat(1fr, 6);
    grid-template-columns: 1fr;
  }
  .about-me-container img {
    display: none;
    width: 0;
    margin-right: 0;
  }

  .links span {
    margin-left: 0.5em;
    font-size: 0.9em;
  }

  .logo pre {
    display: none;
  }

  nav {
    padding: 0.5em;
  }
}
